/* 
License: GPLv3+Nigger
https://plusnigger.neocities.org/
The above copyright notice, this permission notice and the word "NIGGER" shall be included in all copies or substantial portions of the Software.
*/

:root {
  /*
  Base component color of "Polar Night".
  Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
  Markup:
  <div style="background-color:#2e3440; width=60; height=60"></div>
  Styleguide Nord - Polar Night
  */
  --nord0: #2e3440;

  /*
  Lighter shade color of the base component color.
  Used as a lighter background color for UI elements like status bars.
  Markup:
  <div style="background-color:#3b4252; width=60; height=60"></div>
  Styleguide Nord - Polar Night
  */
  --nord1: #3b4252;

  /*
  Lighter shade color of the base component color.
  Used as line highlighting in the editor.
  In the UI scope it may be used as selection- and highlight color.
  Markup:
  <div style="background-color:#434c5e; width=60; height=60"></div>
  Styleguide Nord - Polar Night
  */
  --nord2: #434c5e;

  /*
  Lighter shade color of the base component color.
  Used for comments, invisibles, indent- and wrap guide marker.
  In the UI scope used as pseudoclass color for disabled elements.
  Markup:
  <div style="background-color:#4c566a; width=60; height=60"></div>
  Styleguide Nord - Polar Night
  */
  --nord3: #4c566a;

  /*
  Base component color of "Snow Storm".
  Main color for text, variables, constants and attributes.
  In the UI scope used as semi-light background depending on the theme shading design.
  Markup:
  <div style="background-color:#d8dee9; width=60; height=60"></div>
  Styleguide Nord - Snow Storm
  */
  --nord4: #d8dee9;

  /*
  Lighter shade color of the base component color.
  Used as a lighter background color for UI elements like status bars.
  Used as semi-light background depending on the theme shading design.
  Markup:
  <div style="background-color:#e5e9f0; width=60; height=60"></div>
  Styleguide Nord - Snow Storm
  */
  --nord5: #e5e9f0;

  /*
  Lighter shade color of the base component color.
  Used for punctuations, carets and structuring characters like curly- and square brackets.
  In the UI scope used as background, selection- and highlight color depending on the theme shading design.
  Markup:
  <div style="background-color:#eceff4; width=60; height=60"></div>
  Styleguide Nord - Snow Storm
  */
  --nord6: #eceff4;

  /*
  Bluish core color.
  Used for classes, types and documentation tags.
  Markup:
  <div style="background-color:#8fbcbb; width=60; height=60"></div>
  Styleguide Nord - Frost
  */
  --nord7: #8fbcbb;

  /*
  Bluish core accent color.
  Represents the accent color of the color palette.
  Main color for primary UI elements and methods/functions.
  Can be used for
    - Markup quotes
    - Markup link URLs
  Markup:
  <div style="background-color:#88c0d0; width=60; height=60"></div>
  Styleguide Nord - Frost
  */
  --nord8: #88c0d0;

  /*
  Bluish core color.
  Used for language-specific syntactic/reserved support characters and keywords, operators, tags, units and
  punctuations like (semi)colons,commas and braces.
  Markup:
  <div style="background-color:#81a1c1; width=60; height=60"></div>
  Styleguide Nord - Frost
  */
  --nord9: #81a1c1;

  /*
  Bluish core color.
  Used for markup doctypes, import/include/require statements, pre-processor statements and at-rules (`@`).
  Markup:
  <div style="background-color:#5e81ac; width=60; height=60"></div>
  Styleguide Nord - Frost
  */
  --nord10: #5e81ac;

  /*
  Colorful component color.
  Used for errors, git/diff deletion and linter marker.
  Markup:
  <div style="background-color:#bf616a; width=60; height=60"></div>
  Styleguide Nord - Aurora
  */
  --nord11: #bf616a;

  /*
  Colorful component color.
  Used for annotations.
  Markup:
  <div style="background-color:#d08770; width=60; height=60"></div>
  Styleguide Nord - Aurora
  */
  --nord12: #d08770;

  /*
  Colorful component color.
  Used for escape characters, regular expressions and markup entities.
  In the UI scope used for warnings and git/diff renamings.
  Markup:
  <div style="background-color:#ebcb8b; width=60; height=60"></div>
  Styleguide Nord - Aurora
  */
  --nord13: #ebcb8b;

  /*
  Colorful component color.
  Main color for strings and attribute values.
  In the UI scope used for git/diff additions and success visualizations.
  Markup:
  <div style="background-color:#a3be8c; width=60; height=60"></div>
  Styleguide Nord - Aurora
  */
  --nord14: #a3be8c;

  /*
  Colorful component color.
  Used for numbers.
  Markup:
  <div style="background-color:#b48ead; width=60; height=60"></div>
  Styleguide Nord - Aurora
  */
  --nord15: #b48ead;
        --whitebg: #2e3440 !important;
        --lightgray: #3b4252 !important;
}


html, body, table, tr, td, section, button, dt, dd, dl, article
{
        background-color: var(--nord0) !important;
        background: var(--nord0) !important;
        color: var(--nord5) !important;
        --bg_color: var(--nord0) !important;
        --bg_panel: var(--nord1) !important;
        --bg_elements: var(--nord1) !important;
        --bg_hover: var(--nord2) !important;
        --darker_grey: var(--nord2) !important;
        --darkest_grey: var(--nord2) !important;
        --fg_nav: var(--nord8) !important;
        --more_replies_dots: var(--nord7) !important;
        --accent_dark: var(--nord8) !important;
        --color-bg-primary: var(--nord1) !important;
        --color-bg-secondary: var(--nord2) !important;
        --color-social-count-bg: var(--nord2) !important;
        --color-box-header-blue-bg: var(--nord2) !important;
        --color-box-header-blue-border: var(--nord4) !important;
        --color-border-primary: var(--nord4) !important;
        --color-btn-border: var(--nord4) !important;
        --color-text-link: var(--nord8) !important;
}
p {
        color: var(--nord4) !important;
}

div {
        background: var(--nord1) !important;
        color: var(--nord5) !important;
        border-color: var(--nord2) !important;
}
a {
        color: var(--nord5) !important;
}

/* text on specific sites */
.mw-body, blockquote, .body-line
{
	color: var(--nord4) !important;
        font-family: Hack !important;
        font-size: 18px !important;
}

/* links */
a:hover
{
	color: var(--nord8) !important;
}
a:link 
{
        color: var(--nord8) !important;
}
a:visited 
{
        color: var(--nord7) !important;
}

.infobox {
        color: var(--nord5) !important;
        background-color: var(--nord2) !important;
        border-color: var(--nord4) !important;
}

th {
        color: var(--nord5) !important;
        background-color: var(--nord3) !important;
}

.toc {
        background-color: var(--nord3) !important;
        border-color: var(--nord4) !important;
}

.toctogglelabel {
        color: var(--nord8) !important;
}

#mw-head {
        color: var(--nord6) !important;
        background-color: var(--nord0) !important;
}

.vector-menu-tabs li {
        background-color: var(--nord1) !important;
        background-image: none !important;
}

h5, h4, h3, h2, h1, #news h3, .md {
        color: var(--nord6) !important;
        background-color: var(--nord0) !important;
        background-image: none !important;
}

.md code {
        background: var(--nord3) !important;
}
.code {
        color: var(--nord6) !important;
        background: var(--nord3) !important;
}

/* gitlab */
div.file-content.md code {
        background: var(--nord0) !important;
        background-color: var(--nord0) !important;
        color: var(--nord4) !important;
}
[class*='highlight'] {
        background: var(--nord0) !important;
        background-color: var(--nord0) !important;
        color: var(--nord4) !important;
}
/* end gitlab */

header {
        background: var(--nord1) !important;
        color: var(--nord6) !important;
}


.md blockquote, .body blockquote, blockquote {
        background-color: var(--nord1) !important;
        color: var(--nord5) !important;
}

#archnavbar {
        background: var(--nord1) !important;
        border-bottom: 5px var(--nord10) solid !important;
}

#q, .btn
{
        background: var(--nord1) !important;
        color: var(--nord5) !important;
}

.btn:hover {
        background: var(--nord2) !important;
        color: var(--nord6) !important;
}

#categories * {
        background: var(--nord1) !important;
        border: 1px solid var(--nord2) !important;
}

#categories :checked+label {
        border-bottom: 2px solid var(--nord14) !important;
}

.form-control, .result-default:hover, .panel-body, .usertext-body, .panel-heading, .well, #archnavbarlogo
{
        background: var(--nord1) !important;
}

.photo-rail-card, .timeline-item, .more-replies, .profile-card, nav, .content
{
        background-color: var(--nord1) !important;
        background: var(--nord1) !important;
}

.comment details summary {
        color: var(--nord4) !important;
}

.show-more {
        background-color: var(--nord1) !important;
        background: var(--nord1) !important;
}

/* imageboards */
/* typical reply fields */
.post.reply
{
        background: var(--nord1) !important;
        border: 1px solid var(--nord2) !important;
}
/* background */
.board, .boardBanner, .boardTitle, .postContainer.replyContainer, .middlead, .globalMessage, .adg-rects, .adl, .sideArrows, .thread, #post-form-outer
{
        background-color: var(--nord0) !important;
        background: var(--nord0) !important;
}
/* thread */
.subject
{
        color: var(--nord13) !important;
}
/* anonymoose */
.name
{
        color: var(--nord14) !important;
}

/* search engines */
[class*='rganic']
{
        background: var(--nord0) !important;
}
[class*='input']
{
        background: var(--nord1) !important;
        color: var(--nord5) !important;
}
.websearch-button__text, .websearch-button__text::before
{
        background: var(--nord13) !important;
        color: var(--nord10) !important;
}
.search2__input
{
        background: var(--nord13) !important;
}
[class*='radio-button'] {
        color: var(--nord8) !important;
}
[class*='check-button'] {
        color: var(--nord8) !important;
}
.check-button_theme_normal.check-button_checked_yes:before, .radio-button_view_classic.radio-button_theme_normal .radio-button__radio:after   {
        background: var(--nord1)!important;
        border-color: var(--nord8) !important;
}
.radio-button_view_classic.radio-button_theme_normal .radio-button__radio_checked_yes:after, .check-button_sideable_left::before
{
        background-color: var(--nord3) !important;
        border-color: var(--nord13) !important;
}
.button2_view_classic.button2_theme_normal:before
{
        background-color: var(--nord3) !important;
        border-color: var(--nord13) !important;
}
.button2_size_m 
{
        color: var(--nord2) !important;
}

/* codeberg */
.ui.table {
        border-color: var(--nord4) !important;
}

a.ui.label, .ui.segmenxt, .ui.menu.two.item, .item
{
        background-color: var(--nord2) !important;
}

.button {
        background-color: var(--nord2) !important;
        color: var(--nord5) !important;
}

.ui.segment .svg {
        fill: var(--nord4) !important;
}

tbody {
        background-color: var(--nord2) !important;
        border-color: var(--nord4) !important;
}

.text.right {
        color: var(--nord5) !important;
}

div.header-wrapper {
        background-color: var(--nord1) !important;
}

.item.active {
        background-color: var(--nord2) !important;
        border-color: var(--nord4) !important;
}

.repository #clone-panel input {
        background-color: var(--nord3) !important;
        color: var(--nord4) !important;
}

.repo-path {
        color: var(--nord5) !important;
}

#navbar {
        background-color: var(--nord3) !important;
}

.ui.attached.header {
        background: var(--nord3) !important;
}

.ui.fluid.input > input{
        background: var(--nord3) !important;
        border-color: var(--nord4) !important;
        color: var(--nord5) !important;
}

.a.item.active {
        background: var(--nord3) !important;
}

/* fakt.pl */
.article-p {
	color: var(--nord4) !important;
}
/* redmine */
.selected, .new-object, .drdn-trigger, .autocomplete, .jstEditor, .wiki-edit, .jstBlock, input, textarea {
	color: var(--nord4) !important;
        background: var(--nord3) !important;
        background-color: var(--nord3) !important;
}
.icon, li.root {
        color: var(--nord5) !important;
        background-color: var(--nord1) !important;
        background: var(--nord1) !important;
        background-image: none !important;
}
a.atom, a.pdf {
        color: var(--nord8) !important;
        background-color: var(--nord1) !important;
        background: var(--nord1)!important;
}
/* dokuwiki */
[class*='sectionedit'] {
        color: var(--nord7) !important;
        background-color: none !important;
        background: none !important;
}
